<div class="col-sm-4">

    <div class="form-group label-floating">
		<span class="form-group-addon">
			<i class="material-icons">group</i>
		</span>
        <label class="control-label">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group label-floating">
		<span class="form-group-addon">
			<i class="material-icons">group</i>
		</span>
        <label class="control-label">Email</label>
        <input type="email" class="form-control">
    </div>
    <div class="form-group label-floating">
        <label class="control-label">Enter your message here</label>
        <textarea class="form-control" placeholder="Enter your message here" rows="5"></textarea>
    </div>
</div>